@(uid: Long,did: Long, professorForm: Form[models.flyingdb.Professor])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {

		<div class="row">
	    	<h2>Add a professor</h2>
		</div>

		<div class="row">
	    @form(controllers.flyingdb.routes.ProfessorApplication.save(uid,did) , 'class->"form-horizontal", 'role->"form"  ) {

            @inputText(professorForm("name"), '_label -> "English Name")
            @inputText(professorForm("title"), '_label -> "Title")
            @inputText(professorForm("webUrl"), '_label -> "Web Url")
            @textarea(professorForm("researchArea"), '_label -> "Research", 'rows -> 4, 'cols -> 80)
            @textarea(professorForm("cv"), '_label -> "CV", 'rows -> 4, 'cols -> 80)
            @textarea(professorForm("publication"), '_label -> "Publication", 'rows -> 4, 'cols -> 80)
	        
			 <div class="form-group">
			   <div class="col-sm-offset-2 col-sm-10">
			      <input type="submit" value="Create this professor" class="btn btn-primary"> or 
			      <a href="@controllers.flyingdb.routes.ProfessorApplication.list(uid,did)" class="btn btn-default">Cancel</a> 
			   </div>
			 </div>
	        
	    }
		</div>



    
}