@(id: Long, universityForm: Form[models.flyingdb.University])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
		<div class="row">
	    	<h2>Edit a university</h2>
		</div>
    
		<div class="row">
    @form(controllers.flyingdb.routes.UniversityApplication.update(id)  , 'class->"form-horizontal", 'role->"form"  ) {
        
        <fieldset>
        
            @inputText(universityForm("name"), '_label -> "English Name")
            @inputText(universityForm("chineseName"), '_label -> "Chinese Name")
            @inputText(universityForm("abbreviation"), '_label -> "Abbreviation")
            @inputText(universityForm("webUrl"), '_label -> "Web Url")
            @inputText(universityForm("wikiUrl"), '_label -> "Wiki Url")
            @inputText(universityForm("location"), '_label -> "Location")
            @inputText(universityForm("rank"), '_label -> "Rank (e.g.123)")
        
        </fieldset>
        
			 <div class="form-group">
			   <div class="col-sm-offset-2 col-sm-10">
			      <input type="submit" value="Save this university" class="btn btn-primary"> or 
			      <a href="@controllers.flyingdb.routes.UniversityApplication.list()" class="btn btn-default">Cancel</a> 
			   </div>
			 </div>
        
    }
		</div>
    
    @form(controllers.flyingdb.routes.UniversityApplication.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this university" class="btn btn-danger btn-xs">
    }
    
}
