@(elements: helper.FieldElements)

@***************************************************
* Generate input according twitter bootstrap rules *
***************************************************@
<div class="form-group @if(elements.hasErrors) {has-error}">
    <small  for="@elements.id" class="col-sm-2 control-label">@elements.label</small>
    <div class="col-sm-4">
		<input type="text" class="form-control input-sm" id="@elements.id" name="@elements.id" placeholder="@elements.infos" value="@elements.field.value">
    </div>
<!-- 
	<span class="label label-default">@elements.infos</span>
 -->    
</div>



