@(uid: Long, departmentForm: Form[models.flyingdb.Department])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main("FlyingDB System","admin") {

		<div class="row">
	    	<h2>Add a department</h2>
		</div>

		<div class="row">
	    @form(controllers.flyingdb.routes.DepartmentApplication.save(uid) , 'class->"form-horizontal", 'role->"form"  ) {

            @inputText(departmentForm("name"), '_label -> "English Name")
            @inputText(departmentForm("webUrl"), '_label -> "Web Url")
            @inputText(departmentForm("rank"), '_label -> "Rank (e.g.123)")
            @textarea(departmentForm("graduateProgram"), '_label -> "Graduate Program", 'rows -> 4, 'cols -> 80)
            @textarea(departmentForm("graduateProgramWebUrl"), '_label -> "Program Web", 'rows -> 4, 'cols -> 80)
	        
			 <div class="form-group">
			   <div class="col-sm-offset-2 col-sm-10">
			      <input type="submit" value="Create this department" class="btn btn-primary"> or 
			      <a href="@controllers.flyingdb.routes.DepartmentApplication.list(uid)" class="btn btn-default">Cancel</a> 
			   </div>
			 </div>
	        
	    }
		</div>

    
}