@(uid:Long, id: Long, departmentForm: Form[models.flyingdb.Department])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main("FlyingDB System","admin") {


		<div class="row">
	    	<h2>Edit department</h2>
		</div>
    
		<div class="row">
    @form(controllers.flyingdb.routes.DepartmentApplication.update(uid,id)  , 'class->"form-horizontal", 'role->"form"  ) {
        
        <fieldset>
        
            @inputText(departmentForm("name"), '_label -> "English Name")
            @inputText(departmentForm("webUrl"), '_label -> "Web Url")
            @inputText(departmentForm("rank"), '_label -> "Rank (e.g.123)")
            @textarea(departmentForm("graduateProgram"), '_label -> "Graduate Program", 'rows -> 4, 'cols -> 80)
            @textarea(departmentForm("graduateProgramWebUrl"), '_label -> "Program Web", 'rows -> 4, 'cols -> 80)
        
        </fieldset>
        
			 <div class="form-group">
			   <div class="col-sm-offset-2 col-sm-10">
			      <input type="submit" value="Save this department" class="btn btn-primary"> or 
			      <a href="@controllers.flyingdb.routes.DepartmentApplication.list(uid)" class="btn btn-default">Cancel</a> 
			   </div>
			 </div>
        
    }
		</div>
    
    @form(controllers.flyingdb.routes.DepartmentApplication.delete(uid,id), 'class -> "topRight") {
        <input type="submit" value="Delete this department" class="btn btn-danger btn-xs">
    }
    

    
}
