@(uid:Long, did:Long, id: Long, professorForm: Form[models.flyingdb.Professor])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main("FlyingDB System","admin") {


		<div class="row">
	    	<h2>Edit professor</h2>
		</div>
    
		<div class="row">
    @form(controllers.flyingdb.routes.ProfessorApplication.update(uid,did,id)  , 'class->"form-horizontal", 'role->"form"  ) {
        
        <fieldset>
        
            @inputText(professorForm("name"), '_label -> "English Name")
            @inputText(professorForm("title"), '_label -> "Title")
            @inputText(professorForm("webUrl"), '_label -> "Web Url")
            @textarea(professorForm("researchArea"), '_label -> "Research", 'rows -> 4, 'cols -> 80)
            @textarea(professorForm("cv"), '_label -> "CV", 'rows -> 4, 'cols -> 80)
            @textarea(professorForm("publication"), '_label -> "Publication", 'rows -> 4, 'cols -> 80)
        
        </fieldset>
        
			 <div class="form-group">
			   <div class="col-sm-offset-2 col-sm-10">
			      <input type="submit" value="Save this professor" class="btn btn-primary"> or 
			      <a href="@controllers.flyingdb.routes.ProfessorApplication.list(uid,did)" class="btn btn-default">Cancel</a> 
			   </div>
			 </div>
        
    }
		</div>
    
    @form(controllers.flyingdb.routes.ProfessorApplication.delete(uid,did,id), 'class -> "topRight") {
        <input type="submit" value="Delete this professor" class="btn btn-danger btn-xs">
    }
    
    
}
