@(currentDepartmentId: Long, department: models.flyingdb.Department, currentPage: com.avaje.ebean.Page[models.flyingdb.Professor], currentSortBy: String, currentOrder: String, currentFilter: String)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 


@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    controllers.flyingdb.routes.ProfessorApplication.list(department.university.id, department.id, newPage, sortBy, order, currentFilter)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@main("FlyingDB System","admin") {


   	<div class="row" style="padding-top: 20px;">
    </div> <!-- /row -->

	<div class="panel panel-default">
		<div class="panel-body">

  	<div class="row">
        <div class="col-xs-4">
        English Name: <b>@department.name</b>  
        </div>
        <div class="col-xs-4">
        Rank: <b>@department.rank</b>
        </div>
        <div class="col-xs-4">
        Web: <b>@department.webUrl</b>
        </div>
    </div>
  	<div class="row">
        <div class="col-xs-4">
        Program: <b>@department.graduateProgram</b>
        </div>
        <div class="col-xs-4">
        University: <b>@department.university.name</b>
        </div>
        <div class="col-xs-4">
                        <a class="btn btn-default btn-xs " id="edit" href="@controllers.flyingdb.routes.DepartmentApplication.edit(department.university.id, department.id)">Edit</a>
        </div>
    </div>



		</div>
	

	</div>

    
    @if(flash.containsKey("success")) {
        <div class="alert alert-warning">
            <strong>Done!</strong> @flash.get("success")
        </div>
    } 




    <div id="container">
		<form action="@link(0, "name")" method="GET" class="form-inline" role="form">
		  <div class="form-group">
			    <input type="search" class="form-control input-sm" style="width: 200px;" id="searchboxName" name="f" value="@currentFilter" placeholder="Filter by department name...">
		  </div>
		  <div class="form-group ">
		  	<button type="submit" id="searchsubmit" class="btn btn-primary btn-sm">Apply Filter</button>
		  </div>
		  <div class="form-group navbar-right">
		  	<a class="btn btn-success btn-sm " id="add" href="@controllers.flyingdb.routes.ProfessorApplication.create(department.university.id, department.id)">Add a new professor</a>
		  </div>
		</form>
    </div>
    
	<hr/>


    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {
        
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    @header("name", "English name")
                    @header("title", "Title")
                    @header("webUrl", "Web Url")
                    @header("researchArea", "Research")
                    @header("cv", "DV")
                    @header("publication", "Publication")
                </tr>
            </thead>
            <tbody>

                @for(professor <- currentPage.getList) {
                    <tr>
                        <td><a href="@controllers.flyingdb.routes.ProfessorApplication.edit(department.university.id, department.id,professor.id)">@professor.name</a></td>
                        <td>
                        	@professor.title
                        </td>
                        <td>
                        	<a href="@professor.webUrl" target="_blank">@professor.webUrl</a>
                        </td>
                        <td>
                        	@professor.researchArea
                        </td>
                        <td>
                        	@professor.cv
                        </td>
                        <td>
                        	@professor.publication
                        </td>
                    </tr>
                }

            </tbody>
        </table>

        <div id="container">
            <ul class="pagination pagination navbar-right">
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }

        
}

            