@(localUser: models.authenticate.User = null)

@main(Messages("playauthenticate.navigation.restricted"), "restricted") {
    
    <h1>@Messages("playauthenticate.navigation.restricted")</h1>
    <p>
        @Messages("playauthenticate.restricted.secrets")
    </p>
}