@(currentPage: com.avaje.ebean.Page[models.flyingdb.University], currentSortBy: String, currentOrder: String, currentFilter: String, currentRankFilter: String)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    var rankFilter = currentRankFilter
     
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    controllers.flyingdb.routes.UniversityApplication.list(newPage, sortBy, order, currentFilter, rankFilter)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@main("FlyingDB System","admin") {
    
	<h2 id="homeTitle">@Messages("universities.list.title", currentPage.getTotalRowCount)</h2>

    @if(flash.containsKey("success")) {
        <div class="alert alert-warning">
            <strong>Done!</strong> @flash.get("success")
        </div>
    } 


    <div id="container">
		<form action="@link(0, "name")" method="GET" class="form-inline" role="form">
		  <div class="form-group">
			    <input type="search" class="form-control input-sm" style="width: 200px;" id="searchboxName" name="f" value="@currentFilter" placeholder="Filter by university name...">
		  </div>
		  <div class="form-group ">
		    <input type="search" class="form-control input-sm" style="width: 200px;" id="searchboxRank" name="r" value="@currentRankFilter"  placeholder="Filter by ranking(e.g. 1000)...">
		  </div>
		  <div class="form-group ">
		  	<button type="submit" id="searchsubmit" class="btn btn-primary btn-sm">Apply Filter</button>
		  </div>
		  <div class="form-group navbar-right">
		  	<a class="btn btn-success btn-sm " id="add" href="@controllers.flyingdb.routes.UniversityApplication.create()">Add a new university</a>
		  </div>
		</form>
    </div>    

	<hr/>
    
    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {
        <div id="table-responsive">
	        <table class="table table-striped table-bordered table-hover">
	            <thead>
	                <tr>
	                    @header("name", "English name")
	                    @header("rank", "Rank")
	                    @header("chineseName", "Chinese name")
	                    @header("abbreviation", "Abbreviation")
	                    @header("location", "Location")
	                    @header("webUrl", "Web Url")
	                    @header("wikiUrl", "Wiki Url")
	                </tr>
	            </thead>
	            <tbody>
	
	                @for(university <- currentPage.getList) {
	                    <tr>
	<!-- 
	 						<td><a href="@controllers.flyingdb.routes.UniversityApplication.edit(university.id)">@university.name</a></td>
	 -->                        
	                        <td><a href="@controllers.flyingdb.routes.DepartmentApplication.list(university.id)">@university.name</a></td>
	                        <td>
	                        	@university.rank
	                        </td>
	                        <td>
	                        	@university.chineseName
	                        </td>
	                        <td>
	                        	@university.abbreviation
	                        </td>
	                        <td>
	                        	@university.location
	                        </td>
	                        <td>
	                        	<a href="@university.webUrl" target="_blank">@university.webUrl</a>
	                        </td>
	                        <td>
	                        	<a href="@university.wikiUrl" target="_blank">@university.wikiUrl</a>
	                        </td>
	                    </tr>
	                }
	
	            </tbody>
	        </table>
		</div>        

        <div id="container">
            <ul class="pagination pagination navbar-right">
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
    }
        
}

            