
@views.html.flyingdb.main(Messages("playauthenticate.verify.account.title")) {

	<h1>@Messages("playauthenticate.verify.account.title")</h1>
	<p>
	@Messages("playauthenticate.verify.account.before") <a href="@controllers.authenticate.routes.Account.verifyEmail">@Messages("playauthenticate.verify.account.first")</a>.<br/>
	</p>
}