
@views.html.authenticate.main(Messages("playauthenticate.link.account.title")) {
    
    <h1>@Messages("playauthenticate.link.account.title")</h1>
    
    <p>
	@views.html.authenticate._providerPartial()
    <br/>
    </p>
}