@(changeForm: Form[controllers.authenticate.Account.PasswordChange])

@import helper._
@import helper.twitterBootstrap._

@views.html.authenticate.main(Messages("playauthenticate.change.password.title")) {

	<h1>@Messages("playauthenticate.change.password.title")</h1>
	<p>
	@form(controllers.authenticate.routes.Account.doChangePassword) {
	   
       @if(changeForm.hasGlobalErrors) { 
        <p class="error">
          <span class="label label-important">@changeForm.globalError.message</span>
     	</p>
       }

	   @views.html.authenticate._passwordPartial(changeForm)
           
		<input type="submit" value="@Messages("playauthenticate.change.password.cta")" class="btn btn-primary"> 
	}
	</p>
}