@(universityForm: Form[University])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 


@main {
		<div class="row">
	    	<h2>Add a university</h2>
		</div>

		<div class="row">
	    @form(routes.UniversityApplication.save() , 'class->"form-horizontal", 'role->"form"  ) {

	            @inputText(universityForm("name"), '_label -> "English Name" )
	            @inputText(universityForm("chineseName"), '_label -> "Chinese Name")
	            @inputText(universityForm("abbreviation"), '_label -> "Abbreviation")
	            @inputText(universityForm("webUrl"), '_label -> "Web Url")
	            @inputText(universityForm("wikiUrl"), '_label -> "Wiki Url")
	            @inputText(universityForm("location"), '_label -> "Location")
	            @inputText(universityForm("rank"), '_label -> "Rank (e.g.123)")
	        
			 <div class="form-group">
			   <div class="col-sm-offset-2 col-sm-10">
			      <input type="submit" value="Create this university" class="btn btn-primary"> or 
			      <a href="@routes.UniversityApplication.list()" class="btn btn-default">Cancel</a> 
			   </div>
			 </div>
	        
	    }
		</div>

    
}