@(currentUniversityId: Long, university: University, currentPage: com.avaje.ebean.Page[Department], currentSortBy: String, currentOrder: String, currentFilter: String, currentRankFilter:String)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 


@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    var rankfilter = currentRankFilter
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.DepartmentApplication.list(currentUniversityId, newPage, sortBy, order, currentFilter, rankfilter)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@main {


   	<div class="row" style="padding-top: 20px;">
    </div> <!-- /row -->

	<div class="panel panel-default">
		<div class="panel-body">

  	<div class="row">
        <div class="col-xs-4">
        English Name: <b>@university.name</b>  
        </div>
        <div class="col-xs-4">
        Rank: <b>@university.rank</b>
        </div>
        <div class="col-xs-4">
        Chinese Name: <b>@university.chineseName</b>
        </div>
    </div>
  	<div class="row">
        <div class="col-xs-4">
        Location: <b>@university.location</b>
        </div>
        <div class="col-xs-4">
        Rank: <b>@university.rank</b>
        </div>
        <div class="col-xs-4">
                        <a class="btn btn-default btn-xs " id="edit" href="@routes.UniversityApplication.edit(currentUniversityId)">Edit</a>
        </div>
    </div>



		</div>
	

	</div>

    
    @if(flash.containsKey("success")) {
        <div class="alert alert-warning">
            <strong>Done!</strong> @flash.get("success")
        </div>
    } 


    <div id="container">
		<form action="@link(0, "name")" method="GET" class="form-inline" role="form">
		  <div class="form-group">
			    <input type="search" class="form-control input-sm" style="width: 200px;" id="searchboxName" name="f" value="@currentFilter" placeholder="Filter by department name...">
		  </div>
		  <div class="form-group ">
		    <input type="search" class="form-control input-sm" style="width: 200px;" id="searchboxRank" name="r" value="@currentRankFilter"  placeholder="Filter by ranking(e.g. 1000)...">
		  </div>
		  <div class="form-group ">
		  	<button type="submit" id="searchsubmit" class="btn btn-primary btn-sm">Apply Filter</button>
		  </div>
		  <div class="form-group navbar-right">
		  	<a class="btn btn-success btn-sm " id="add" href="@routes.DepartmentApplication.create(currentUniversityId)">Add a new department</a>
		  </div>
		</form>
    </div>
    
	<hr/>
    
    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {
        
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    @header("name", "English name")
                    @header("rank", "Rank")
                    @header("webUrl", "Web Url")
                    @header("graduateProgram", "Graduate Program")
                    @header("graduateProgramWebUrl", "Program Web")
                </tr>
            </thead>
            <tbody>

                @for(department <- currentPage.getList) {
                    <tr>
<!-- 
                        <td><a href="@routes.DepartmentApplication.edit(currentUniversityId,department.id)">@department.name</a></td>
 -->
                        <td><a href="@routes.ProfessorApplication.list(department.university.id, department.id)">@department.name</a></td>
                        <td>
                        	@department.rank
                        </td>
                        <td>
                        	<a href="@department.webUrl" target="_blank">@department.webUrl</a>
                        </td>
                        <td>
                        	@department.graduateProgram
                        </td>
                        <td>
                        	@department.graduateProgramWebUrl
                        </td>
                    </tr>
                }

            </tbody>
        </table>

        <div id="container">
            <ul class="pagination pagination navbar-right">
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }
        
}

            