@(providerKey: String)

@views.html.flyingdb.main(Messages("playauthenticate.oauth.access.denied.title")) {

	<h1>@Messages("playauthenticate.oauth.access.denied.title")</h1>
	<p>
		@Messages("playauthenticate.oauth.access.denied.explanation")<br/>
	</p>
	<p>
		@Messages("playauthenticate.oauth.access.denied.alternative") <a href="@controllers.authenticate.routes.AuthenticateApplication.signup">@Messages("playauthenticate.oauth.access.denied.alternative.cta")</a>.
	</p>
}