@(resetForm: Form[controllers.authenticate.Signup.PasswordReset])

@import helper._
@import helper.twitterBootstrap._

@views.html.flyingdb.main(Messages("playauthenticate.password.reset.title")) {

	<h1>@Messages("playauthenticate.password.reset.title")</h1>
	<p>
	@form(controllers.authenticate.routes.Signup.doResetPassword) {
	   
       @if(resetForm.hasGlobalErrors) { 
        <p class="error">
          <span class="label label-important">@resetForm.globalError.message</span>
     	</p>
       }
       
        @input(
   			resetForm("token"),
   			'_label -> "",
   			'_showConstraints -> false
   		
   		) { (id, name, value, args) =>
		    <input type="hidden" value="@value" name="@name" id="@id" @toHtmlArgs(args)>
		}
	   
	   @views.html.authenticate._passwordPartial(resetForm)
           
		<input type="submit" value="@Messages("playauthenticate.password.reset.cta")" class="btn btn-primary"> 
	}
	</p>
}