@(emailForm: Form[utils.authenticate.providers.MyUsernamePasswordAuthProvider.MyIdentity])

@import helper._
@import helper.twitterBootstrap._

@views.html.flyingdb.main(Messages("playauthenticate.password.forgot.title")) {

	<h1>@Messages("playauthenticate.password.forgot.title")</h1>
	<p>
	@form(controllers.authenticate.routes.Signup.doForgotPassword) {
	   
            @if(emailForm.hasGlobalErrors) { 
                <p class="error">
		            <span class="label label-important">@emailForm.globalError.message</span>
		        </p>
            }
	   
	   @views.html.authenticate._emailPartial(emailForm)
           
		<input type="submit" value="@Messages("playauthenticate.password.forgot.cta")" class="btn btn-primary"> 
	}
	</p>
}