@(loginForm: Form[_])

@import helper._
@import helper.twitterBootstrap._

@views.html.flyingdb.main(Messages("playauthenticate.login.title"),"login") {

<div class="row" style="padding-top: 20px;">
</div> <!-- /row -->

	    @if(flash.contains(controllers.authenticate.AuthenticateApplication.FLASH_ERROR_KEY)) {
	      <div class="alert alert-danger" >
	      	@flash().get(controllers.authenticate.AuthenticateApplication.FLASH_ERROR_KEY)
	      </div>
	    }
	    @if(flash.contains(controllers.authenticate.AuthenticateApplication.FLASH_MESSAGE_KEY)) {
	      <div class="alert alert-success" >
	      	@flash().get(controllers.authenticate.AuthenticateApplication.FLASH_MESSAGE_KEY)
	      </div>
	    }


<div class="col-md-offset-3 col-md-6">

	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">
			<h4>@Messages("playauthenticate.login.title")</h4>
		</div>

	  <div class="panel-body">

  <div id="login" class="row col-md-offset-1">

    <div class="span3">

      @* Display proprietary login form *@
    	@helper.form(controllers.authenticate.routes.AuthenticateApplication.doLogin) {
    	
        @if(loginForm.hasGlobalErrors) { 
          <p class="error">
            <span class="label label-important">@loginForm.globalError.message</span>
          </p>
        }
        
        @_emailPartial(loginForm)
          
        @inputPassword(
          loginForm("password"),
          '_showConstraints -> false,
          '_label -> Messages("playauthenticate.login.password.placeholder")
        )
          
        <input type="submit" value="@Messages("playauthenticate.login.now")" class="btn btn-primary"><br/>

        <br/>
        <a class="brand" href="@controllers.authenticate.routes.AuthenticateApplication.signup()"> <span class="label label-info">@Messages("playauthenticate.signup.title")</span> </a>
        <a class="brand" href="@controllers.authenticate.routes.Signup.forgotPassword()">@Messages("playauthenticate.login.forgot.password")</a>

    	}
    </div>

<!-- 
    <div class="span3">
      @Messages("playauthenticate.login.oauth")
      @* Display list of available providers *@
      @_providerPartial(skipCurrent=false)
    </div>
 -->


  </div>
	  </div>
	
	</div>

</div>

   


}