@(loginForm: Form[_])

@import helper._
@import helper.twitterBootstrap._

@main(Messages("playauthenticate.login.title"),"login") {

  <div class="row">
    <div class="span6">
      <h1>@Messages("playauthenticate.login.title")</h1>
    </div>
  </div>
    
  <div id="login" class="row">

    <div class="span3">
      @* Display proprietary login form *@
    	@helper.form(controllers.authenticate.routes.Application.doLogin) {
    	
        @if(loginForm.hasGlobalErrors) { 
          <p class="error">
            <span class="label label-important">@loginForm.globalError.message</span>
          </p>
        }
        
        @_emailPartial(loginForm)
          
        @inputPassword(
          loginForm("password"),
          '_showConstraints -> false,
          '_label -> Messages("playauthenticate.login.password.placeholder")
        )
          
        <input type="submit" value="@Messages("playauthenticate.login.now")" class="btn btn-primary"><br/>
        <br/>
        <a class="brand" href="@controllers.authenticate.routes.Signup.forgotPassword()">@Messages("playauthenticate.login.forgot.password")</a>

    	}
    </div>

    <div class="span3">
      @Messages("playauthenticate.login.oauth")
      @* Display list of available providers *@
      @_providerPartial(skipCurrent=false)
    </div>

  </div>

}